<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      header nav {
        width: 100%;
        background-color: black;
        padding: 1rem;
      }

      nav a {
        color: white;
        padding: 0.5rem 2rem;
        text-decoration: none;
      }

      section {
        padding: 2.5rem 0;
      }

      .container {
        max-width: 1200px;
        margin: 0 auto;
      }

      .title {
        text-align: center;
        font-size: 3rem;
      }

      .login-form {
        max-width: 50%;
        margin: 2rem auto 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 2rem 3rem;
      }

      .form-control {
        margin: 1rem 0;
      }

      .form-control input {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.25rem 0.5rem;
      }

      .submit-btn {
        margin: 1rem 0;
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: darkslategray;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .submit-btn:hover {
        background-color: rgb(57, 100, 100);
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <a href="/home">Home</a>
          <a href="/login">Login</a>
        </div>
      </nav>
    </header>
    <section>
      <div class="container">
        <h1 class="title">Login page</h1>

        <form action="/api/auth/login" method="POST" class="login-form">
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
          </div>
          <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
          </div>
          <input type="submit" value="login" class="submit-btn" />
        </form>
      </div>
    </section>
  </body>
</html>